<!DOCTYPE html>
<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/fighters.css">
</head>
<body class="about">
<p>Manchester Fighters is quickly establishing itself as the country’s premiere semi-professional boxing promotions company for one reason: we take care of our fighters and our audience. We know that the most important part of any boxing event is the fight and  we will help you produce the most exciting bouts possible.</p>
<p>Supplying boxers to shows nationwide every week, Manchester Fighters has the biggest squad of enthusiastic and entertaining fighters in the North West. All our fighters are dedicated to boxing and love to put on a good show. We can match a boxer of any weight division and level of experience to fight at your show, anywhere in the country. </p>
<p>Manchester Fighters doesn’t make mis-matches. Only exciting, real fights to ignite the audience. So if you’re looking for boxers to fight at your show, we have what you need, so get in <%= link_to 'contact', contacts_path,  method: :get%> with us.</p>
</body>
</html>