<!DOCTYPE html>
<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/fighters.scss">
</head>
<body class="events">
  <p>Interested in putting on a show? All you need is a venue. Manchester Fighters can handle  all other arrangements for you. From security to ring equipment, officials, mc’s and fighters. From a basic boxing showcase to an extravagant dinner show, we can provide a bespoke event tailored to suit your target audience and help you put on a great night of entertainment that people will remember.
  </p>
<div class="container-fluid-events">
  <img class="event_image" src="assets/rsz_boxing3.jpg">
</div>
</body>
</html>