/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *:focus {
outline: 0;
}

body {
  background-color: black;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  border: 2px;
  border-color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: gold;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:810px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:810px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}




.header_logo {
  background: black;
  
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

a.navbar-brand {
  color:gold;
}


.header_logo {
  background: black;
  float: center;
  margin-top: 15px;
}


p.alert {
  background-color: black;
  margin: 0 0 0px;
}

p.notice {
  background-color: black;
  margin: 0 0 0px;
}

.container-fluid-header {
  background: black;
  padding-top: 10px;
  padding-bottom: 10px;
  width:100%;
text-align:center;
  
}

.mf {
  color: gold;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:1px;
}

#navbar {
  position:relative;
  background: black;
  border: 2px gold;
}

div#navbar.navbar-collapse.collapse.in {
  background: #333;
}

div.container {
  width:100%;
  background: black;
  color: black;
  padding-right:1px;
  padding-left: 1px;
}


button.navbar-toggle.collapsed {
  border-color: gold;
  
}


  
  .active {
    border: 2px gold;
  }


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  
 -moz-border-radius: 10px; /* FF1+ */
    -webkit-border-radius: 10px; /* Saf3-4, iOS 1+, Android 1.5+ */
    border-radius: 1px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
    overflow:hidden;
    z-index: 20;
}

#footer {
  background:black;
  text-align: center;

}

.row {
  display: table;
}

p.alert {
  padding: 0px;
margin-bottom: 0px;
border: 1px solid transparent;

}

.field{
    text-align: center;
}

.avatar-file {

}

input[type=file] {
    margin: 0 auto;
    padding-left: 10px;
    width:200px;
}

.form {
  width:100%;
  background-color: black;
  color:white;
  background-image: url("cbde8ee8445a9238260d6ce2ad8edde5.jpg");
  padding-bottom: 5px;
  background-repeat:no-repeat;

background-position:center;
}

.register {
  text-align: center;
  background-color: black;
  color:gold;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.actions {

}

