

.jumbotron_button {
  background-color: gold;
  height: auto;
  width: auto;
  border-style: none;
  border-radius: 30px;
  color: white;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 1.3em;
}

.jumbotron_button:hover {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
}

.jumbotron {
  text-align: center;
}

.jumbotron_header {
  color: white;
  font-family: 'Great Vibes', cursive;
}

.carousel {
  width:100%;
}

.carousel-inner>.item>img {
  vertical-align: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.carousel-control { background: none !important; filter: none !important; progid:none !important; }


  .carousel-caption-h1  {
    vertical-align: top;
    font-size: 50px;
font-family: 'Great Vibes', cursive;
}

h3.all_welcome {
  font-size: 15px;
}

.carousel-caption-h3 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.carousel-inner > h1 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

.profile_circle {
  
  border-style: solid;
  border-color: gold;
  border-width: 3px;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.5);
  /*position: absolute;*/
  /*left: 0;
  bottom: 0;*/
  width: 70%;
}

.featured_image_button{
  background-color: #9ACE0D;
  height: 40px;
  width: 80px;
  border-style: none;
  border-radius: 6px;
  color: white;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  position: relative;
  bottom: 80px;
  right: 20px;
}
.featured_image_button:hover{
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
}

.centered-form {
  text-align: center;
}

input[type=file] {
    margin: 0 auto;
    padding-left: 100px;
}

.field_with_errors {
      margin: 0 auto;
}

#error_explanation {
      margin: 0 auto;
}





.right_bar {
  width: 100%;
  float: left;
  position: relative;
  bottom: 80px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: none;
  display: table-cell;
  vertical-align: top;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 10px;
}

.container-fluid {
  background-image: url("boxing-ring-black.jpg");
   padding-bottom: 5px;
  background-repeat:no-repeat;
width:100%;
background-position:center;
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  
  text-align:center;
  
}



h1 {
  text-align: center;
  
}

.fighter_title {
  background-image: url("15017628337_4287ccc748_b.jpg");
   text-align: center;
  background-color: black;
  color:gold;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.boxes {
  display:table;
  width: 100%;
  height: 100%;
}

.box {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
  line-height: 2em;
}

@media (max-width: 420px) {
    .box {
        display: block;
        width: 100%;
    }
}

body {
  background-color: black;
}

.sign_in {
  background: black;
  color:grey;
}

.border {
  padding-bottom: 2px;
  background: gold

}

p {
  padding: 15px;
  color:white;
  background: #333;
  margin-bottom:0px;
  margin-top: 0px;
}

body.about {
  background: black;
}

body.contacts {
  background: black;
}

body.events {
  background: black;
}

.event_image {
   padding-bottom: 5px;
  background-repeat:no-repeat;
width:100%;
background-position:center;
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.container-fluid-events {
  padding-left: 10px;
  padding-right: 10px;
}

